<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCb1lsSQ0VtVp1iHVPV852Ol_vMjMaxthM</string>
	<key>GCM_SENDER_ID</key>
	<string>738598128129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sealpost.mail</string>
	<key>PROJECT_ID</key>
	<string>sealpostmail</string>
	<key>STORAGE_BUCKET</key>
	<string>sealpostmail.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738598128129:ios:e5922d6b3d1b6ef0c20e00</string>
</dict>
</plist>